---
import MinimalLayout from "../layouts/MinimalLayout.astro";
---

<MinimalLayout title="About - Javier Reyes">
  <div>
    Reprehenderit excepteur officia id elit mollit sint cupidatat labore est
    adipisicing sint ex aliqua. Aliquip consequat aliqua nisi cupidatat
    exercitation proident dolore mollit et. Sint culpa sit laborum incididunt
    qui commodo. Voluptate voluptate dolor voluptate ex cupidatat anim officia
    esse incididunt. Culpa deserunt ullamco tempor nostrud. Minim adipisicing
    Lorem reprehenderit quis ullamco est pariatur fugiat tempor adipisicing
    irure consectetur sint officia. Do qui nulla veniam mollit labore do Lorem
    deserunt ullamco adipisicing ullamco officia eiusmod aliqua. Laborum do enim
    consectetur quis consectetur nostrud ipsum. Amet nulla ut et do. Laboris
    consectetur esse laboris nulla id consequat adipisicing eu do qui. Cupidatat
    officia magna minim magna cillum nulla excepteur sint esse cillum. Laborum
    tempor et deserunt cupidatat sint et laborum. Exercitation incididunt
    occaecat Lorem pariatur qui voluptate quis dolor laboris laborum ipsum. Sint
    ullamco deserunt irure non labore non officia sint aliquip fugiat irure
    duis. Voluptate sint excepteur occaecat quis consectetur exercitation nulla
    aute tempor adipisicing anim est. Aute aliqua duis reprehenderit consequat
    quis sit dolor Lorem nulla. Aute sit proident anim culpa nisi velit Lorem
    sit excepteur do occaecat est duis ipsum et. Sit irure sunt exercitation
    elit magna deserunt aliqua mollit in.
  </div>
</MinimalLayout>
