---
import MinimalLayout from "../layouts/MinimalLayout.astro";
import ButtonMagic from "../components/ButtonMagic.astro";

const roles = [
  {
    title: "Software Engineer",
    company: "Segic",
    start: 2022,
    end: "Present",
  },
  {
    title: "Software Engineer",
    company: "Developen Technology",
    start: 2020,
    end: 2022,
  },
];
---

<MinimalLayout title="Javier Reyes — Website">
  <div class="space-y-8">
    <section class="prose">
      <p>
        I&lsquo;m Javier, a Software Engineer based in Santiago, Chile. Actually
        I&lsquo;m working at Segic as SWE and also I&lsquo;m teaching at my <i
          >Alma Mater</i
        > about BPMN, Databases and IA primarly. In my free time I like to take different
        kind of projects to explore new technologies, learn new things &amp; polish
        my skills.
      </p>

      <p>
        Some interesting facts about me: I like shuffling cards (magician), the
        photography, science, music and of course the technology. Currently
        I&lsquo;ve limited availability for freelance work, so if you have a
        project in mind, please feel free to contact me.
      </p>
    </section>

    <section>
      <div class="max-w-md">
        <ol class="text-xs divide-y divide-zinc-200">
          {
            roles.map((role) => (
              <li class="flex items-center flex-none flex-nowrap gap-3 w-full py-2 first:pt-0 text-zinc-500 relative overflow-hidden justify-start">
                <div class="flex flex-1 flex-nowrap items-center gap-2 justify-start w-px">
                  <span class="w-32">{role.title}</span>

                  <span class="flex-grow text-zinc-800 font-semibold whitespace-pre-wrap relative">
                    {role.company}
                  </span>
                </div>

                <span class="tabular-nums">
                  {role.start} - {role.end}
                </span>
              </li>
            ))
          }
        </ol>
      </div>
    </section>

    <ButtonMagic />
  </div>
</MinimalLayout>
